body {
	font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: $b;
    letter-spacing: .2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// section
.title_section {
    display: block;
	text-transform: uppercase;
	font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: 700;
    color: $ts;
    margin-bottom: 15px;
}

.desc_section {
    display: block;
	font-size: 36px;
	font-weight: 600;
	color: black;
}

.paraghraphedit {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.8px;
        font-weight: 500;
}

@media screen and (max-width:700px) {
    .desc_section {
            font-size: 30px;
            margin-top: 1rem;
    }
}