#our_team {
	padding: 2rem 0rem 10rem;

	.team_list{
	    margin-top: 50px;
		
		img {
		    position: relative;
		    width: 180px;
		    height: 180px;
	    	border-radius: 100%;
	    	overflow: hidden;
    	    -webkit-transition: all 0.35s ease-in-out;
	    	-moz-transition: all 0.35s ease-in-out;
    		transition: all 0.35s ease-in-out;
		}

		h4 {
		    margin-top: 40px;
    		font-size: 18px;
    		color: #0d1325;

    		span {
			    display: block;
				font-size: 14px;
			    font-weight: 400;
			    color: #b3b4b8;
			    margin-top: 5px;
			    letter-spacing: 0.6px;
    		}
		}
	}

	.content:hover {
		img {
    	-webkit-transform: scale(1.1);
    	-moz-transform: scale(1.1);
    	-ms-transform: scale(1.1);
    	transform: scale(1.1);
    	}
	}
}